body{
    margin-top: 50px;
    background-image: url(./1624843.jpg);
    background-size: cover;
    
}
img{
    display: block;
    justify-content: center;
   width: 200px;
   margin-left: auto;
   margin-right: auto;


}

h1{
 display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: rgb(140, 165, 234);
}
h3, .list{
    display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;

   }

ul, li{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 5px;
}

button{
    color: black;
    background-color: rgb(255, 255, 255);
    border-color: rgb(115, 152, 184);
    border-radius: 20px;
}

.displayItems{
    font-family: cursive;
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    height: 626px;
    width: 446px;
    background-image: url(./R.png);
    background-size: contain;
}